<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.experiment2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Experiment2"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Game"
            android:launchMode="singleTask" />
        <activity
            android:name=".Sport"
            android:launchMode="singleTask" />
        <activity
            android:name=".Science"
            android:launchMode="singleTask" />
        <activity
            android:name=".Health"
            android:launchMode="singleTask" />
        <activity
            android:name=".LocalNews"
            android:launchMode="singleTask" />
        <activity
            android:name=".WebView"
            android:launchMode="singleTask" />
        <activity
            android:name=".Entertainment"
            android:launchMode="singleTask" />
        <activity
            android:name=".Business"
            android:launchMode="singleTask" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>